$bc-white: #ffffff;
$bc-green-light-1: #f9fbfb;
$bc-green-light-2: #eff4f5;
$bc-green-medium-2: #dae5e7;
$bc-green-medium-1: #abc4c8;
$bc-green-medium: #76b6c0;
$bc-green-dark: #007d93;
$bc-green-dark: #405f65;


$page-bg: $bc-green-light-1;
$border-radius: 3px;